/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node-page {
  div.col-sm-12 {
    width: 100%;

    .field-name-title {
      h2 {
        font-family: @pxl-text-font-bold;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: @text-color;
        #pxl-mixins.font-size-responsive();
      }
    }

    .field-name-body {
      #pxl-mixins.wysiwyg-body;
    }

  }
}
