/*
 *  Text mixins
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------
#pxl-mixins {
  //
  //  TEXT optimisation
  //

  // Language dependant word hyphenation (language has to be set in html element)
  .hyphenate(@mode: auto) {
    // Warning: Needed for oldIE support, but words are broken up letter-by-letter
    -ms-word-break: break-all;
    //word-break: break-all;

    // Non standard for webkit, breaks between words
    word-break: break-word;

    // uses dictionaries for correct word breaking in supported languages
    -webkit-hyphens: @mode;
    -moz-hyphens: @mode;
    -ms-hyphens: @mode;
    -o-hyphens: @mode;
    hyphens: @mode;
  }

  // responsive font size with minimum and maximum size
  .font-size-responsive(@max-size: @resp-font-size-max) {
    font-size: max(@resp-font-size-min, @max-size*5/8);   // min = 480 / 768 * max

    @media @narrow {
      font-size: max(unit(@max-size/7.68, vw), unit(@resp-font-size-min/4.8, vw));
    }
    @media @tablet {
      font-size: @max-size;
    }
  }


  .wysiwyg-body(@text-size: @font-size-base; @title-size: @resp-font-size-large-max; @subtitle-size: @resp-font-size-max) {
    h1, h2, h3, h4, h5, h6 {
      font-family: @pxl-title-font;
      .font-size-responsive(@subtitle-size);
    }
    h1, h2, h3 {
      .font-size-responsive(@title-size);
    }

    p, tbody td {
      font-family: @pxl-text-font;
      .font-size-responsive(@text-size);
      .hyphenate;
    }

    pre, address {
      font-family: @pxl-text-font-light-italics;
      .font-size-responsive(@text-size);
    }

    strong {
      font-family: @pxl-text-font-bold;
    }

    hr {
      border: 0;
      border-bottom: 2px solid @text-color;
      background: none;
    }

    img, embed, video, audio, iframe {
      display: block;
      overflow: hidden;
      margin: 20px auto;
      width: 80%;
      max-width: 100%;
      height: auto;
      min-height: 350px;
    }
  }

}
